<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit a Doggo</title>
</head>
<body>
  <h1>Edit <%= dog.name %></h1>
  <a href="/dogs">Back to Dogs</a>
  <form action="/dogs/<%=dog._id%>?_method=PUT" method="POST">

    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= dog.name %>" />

    <label for="isReadyToAdopt">Ready to Adopt?</label>
    <input 
      type="checkbox"
      name="isReadyToAdopt" 
      id="isReadyToAdopt" 
      <% if (dog.isReadyToAdopt) {%>checked<%} %>
    />

    <button type="submit">Update dog</button>
  </form>
</body>
</html>